@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'DM Sans', sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 75px auto 0px auto;
  border-radius: 8px;
  padding-bottom: 32px;
  overflow-y: hidden;
}

.title {
  font-size: xx-large;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.todoList {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.todoList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-form {
  margin-top: 15px;
}
